*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    
    background-color: #3C6CA8;
}


#home{
    height: 100vh;
    margin-top: 200px;
    margin-left: 70px;
    font-size: 50px;
    margin-right: 300px;
    color: white;
}
header{
    height: 10vh;
   
}
nav a:hover{
    text-decoration: underline;
 }
nav{

    
    padding: 10px;
    text-align: end;
    position: fixed;
    top: 0;
    background-color: #3C6CA8 ;
    width: 100%;
    z-index: 5;

    
}
a{
   font-size: 40px;
    margin-left: 30px;
    margin-right: 50px;
    text-decoration: none;
    color: aliceblue;
   
}

/* .education */

#education{
    height: 100vh;
   
}
.container1{
position: relative;
top: 150px;
}

#edu{
    
    text-align: center;
    font-size: 90px;
    margin-top: 100px;
    color: white;
}
#study{
    text-align: center;
    font-size: 54px;
    color: white;
}
#Std{
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 50px;
}
#reading{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


/* skill */

#skills{
   height: 100vh;
   display: grid;
  margin: 60px;
   
 
}
#skills h1{
    text-align: center;
    color:white ;
    font-size: 90px;
    padding-top: 10%;
  
}

#skills ul{
    margin-top: 100px;
    margin-left: 200px;
}

.skills{
    height: 40px;
    width: 80%;
    background-color: aliceblue;
    border-radius: 20px;
    margin-bottom: 30px;
}

.color{
    height: 40px;
    width: 50%;
    background-color:  rgb(123, 111, 60);
    border-radius: 20px;
    font-size: 30px;
    padding-left: 10px;
    color: black;
}

.color1{
    height: 40px;
    width: 65%;
    background-color: rgb(123, 111, 60);
    border-radius: 20px;
    font-size: 30px;
    padding-left: 10px;
    color: black;
}

.color2{
    height: 40px;
    width: 30%;
    background-color: rgb(123, 111, 60) ;
    border-radius: 20px;
    font-size: 30px;
    padding-left: 10px;
    color: black;
}

.color3{
    height: 40px;
    width: 90%;
    background-color:  rgb(123, 111, 60);
    border-radius: 20px;
    font-size: 30px;
    padding-left: 10px;
    color: black;
}
  
                        





/* Contact */
#contact{
    height: 100vh;
}
#Contact h1{
    text-align: center;
    color:white ;
    font-size: 90px;
    position: relative;
    top:25vh

}

.contact1{
    display:flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: 400px;

    
    font-size: 40px;
    color: antiquewhite;
    
}