*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    background-color: #3C6CA8;
}
#home{
    height: 100vh;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: space-evenly;
align-items: center;
}
header{
    height: 10vh; 
}

nav a:hover{
    text-decoration: underline;
 }
nav{
    padding: 10px;
    text-align: end;
    position: fixed;
    top: 0;
    background-color: #3C6CA8 ;
    width: 100%;
    z-index: 5;
}
a{
   font-size: 40px;
    margin-left: 30px;
    margin-right: 50px;
    text-decoration: none;
    color: aliceblue;
   
}

/* about */
 
  #about{
    height: 100vh;
}
#about p{
    font-size: 40px;
    
    padding-left: 300px;
    padding-right: 300px;padding-top: 100px;

  }  
  #about h1{
    text-align: center;
    color:white ;
    font-size: 90px;
    padding-top: 100px;   
}
  
/*  englishskills  */

#english{
    height: 200vh;
    display: flex;
    
}
.box h2 , i{
  background:none;
  margin-top: 60px;

}

.box{
   position: relative;
   top: 45%;
   
    height: 20rem;
    width: 25rem;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    font-size: 22px;
    text-align: center;
}
#englishskills h1{
    position: absolute;
    text-align: center;
    color:white ;
    font-size: 90px;
    padding-top: 100px;
    padding-left: 40%;
}

   #englishskills{
     height:100vh;
     display:flex;
     justify-content: space-between;
     gap: 20px;
     max-width: 120vw;
   }
   #lifeskills{
    height: 130vh;
   }
  .skills-section {
    text-align: center;
    width: 80%;
  }
  #lifeskills h1{
    text-align: center;
    color:white ;
    font-size: 90px;
    padding-top: 100px;
  }
  .title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .skills-container {
    display: flex;
    justify-content: space-evenly;   
    
  }
  .skills-container h3{
   background-color: white;
   margin-top: 30px;

  }
  .skill-card1, .skill-card2, .skill-card3{
    border: 2px solid white;
    height: 350px;
    width: 350px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 250px;
    font-size: 22px;
    text-align: center;
  }

  .skill h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #e4cfcf;
  }
  
  .progress-bar {
    background: #eee;
    border-radius: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
  }

  
/*  skills */
#skills{
   height: 100vh;
   display: grid;
  margin: 60px;
}
#skills h1{
  text-align: center;
  color:white ;
  font-size: 90px;
  padding-top: 100px;
}
.Tech-skills{
  height: 30px;
  width: 90%;
  
  border-radius: 20px;
  background-color: white;
  margin-top: 10px;
}



.html{
  width: 30%;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(62, 197, 241);
  color: black;
  text-align: start;
}
.HTML{
  color: white;
  margin-left: 15px;
  margin-bottom: 10px;
  }
.css{
  width: 30%;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(62, 197, 241);
  color: black;
  text-align: start;
}
.CSS{
  color: white;
  margin-left: 20px;
  margin-top: 30px;

}
.js{
  width: 30%;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(62, 197, 241);
  color: black;
  text-align: start;
}
.JS{
  color: white;
  margin-left: 35px;
  margin-top: 30px;
}
.mysql{
  width: 30%;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(62, 197, 241);
  color: black;
  text-align: start;
}
.MYSQL{
  color: white;
  margin-left: 8px;
}
.python{
  width: 30%;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(62, 197, 241);
  color: black;
  text-align: start;
}
.PYTHON{
  color: white;
  margin-top: 30px;
}
.ps{
  width: 30%;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(62, 197, 241);
  color: black;
  text-align: start;
}
.PS{
  color: white;
  margin-left: 27px;
  margin-top: 30px;
  
}
p{
  padding-top: 7px;
  padding-left: 10px;
  font-weight: bold;
 
  background-color: transparent;
}
.tech{
  width: 100%;
  display: flex;

  overflow: hidden;
  padding-top: 50px;
}
.skills-content1{
  width: 100%;
  position: relative;
  left: 40px;
  
}
.skills-content2{
  width: 100%;
  position: relative;
  left: 40px;
}
/* Contact */

#contact{ 
    height: 100vh;
}
#Contact h1{
    text-align: center;
    color:white ;
    font-size: 90px;
    position: relative;
    top:25vh

}

.contact1{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 400px;
    font-size: 40px;
    color: antiquewhite;
}